* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
}

@font-face {
  font-family: "VALORANT";
  src: url(https://www.dafont.com/es/valorant.font) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'VANDAL';
  src: url(https://www.dafont.com/es/vandal.font) format('truetype');
  font-style: normal;
  font-weight: normal;
}

/* Estilos responsivos */

@media screen and (max-width: 768px) {
  /* Estilos para pantallas con un ancho máximo de 768px */
  
  header {
    padding: 15px;
  }
  
  .logo {
    width: 80px;
  }
  
  nav ul li a {
    font-size: 14px;
    padding: 8px;
  }

  .cent .t1 {
    top: 50px;
    font-size: 25px;
    left: 2%;
  }
  
  .cent p {
    top: 80px;
    font-size: 18px;
    width: 90%;
    left: 5%;
    line-height: 20px;
  }
  
  .gallery-container h1 {
    top: -30px;
    font-size: 25px;
  }
  
  .gallery {
    top: 200px;
    font-size: 16px;
  }
  
  .gallery-container {
    top: 10px;
  }
  
  .gallery-item, .map-info, .desc-info {
    width: 100%;
    height: 300px;
  }

  .gallery-item, .map-info {
    width: 100%;
    height: auto;
    position: static;
    transform: none;
    margin-bottom: 20px;
  }
  
  .cards {
    top: 2%;
  }
  
  .prev,
  .next {
    top: 200px;
    font-size: 25px;
  }
  
  .navegacion {
    top: 60rem;
    font-size: 20px;
  }
  
  .navegacion ul {
    margin-top: 1%;
  }
  
  .navegacion p {
    width: 90%;
    font-size: 16px;
    margin-top: 2%;
  }
}

@media screen and (max-width: 480px) {
  /* Estilos para pantallas con un ancho máximo de 480px */
  
  header {
    padding: 10px;
  }
  
  .logo {
    width: 60px;
  }
  
  nav ul li a {
    font-size: 12px;
    padding: 6px;
  }

  .cent .t1 {
    top: 30px;
    font-size: 20px;
    left: 2%;
  }
  
  .cent p {
    top: 60px;
    font-size: 16px;
    width: 90%;
    left: 5%;
    line-height: 18px;
  }
  
  .gallery-container h1 {
    top: -20px;
    font-size: 20px;
  }
  
  .gallery {
    top: 150px;
    font-size: 14px;
  }
  
  .gallery-container {
    top: 10px;
  }
  
  .gallery-item, .map-info, .desc-info {
    width: 100%;
    height: 250px;
  }

  .gallery-item, .map-info {
    width: 100%;
    height: auto;
    position: static;
    transform: none;
    margin-bottom: 15px;
  }
  
  .cards {
    top: 2%;
  }
  
  .prev, .next {
    top: 150px;
    font-size: 20px;
  }
  
  .navegacion {
    top: 45rem;
    font-size: 16px;
  }
  
  .navegacion ul {
    margin-top: 1%;
  }
  
  .navegacion p {
    width: 90%;
    font-size: 14px;
    margin-top: 2%;
  }
}

body {
  color: rgb(231, 235, 238);
  background-image: url(../img/Fondo/VALORANT_Logo_V_thumbnail.jpg);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  height: 4rem;
  font-family: 'VALORANT';
}

#hero {
  height: 38rem;
}

header .logo {
  width: 100px;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: contain;
  cursor: pointer;
}

.logo {
  width: 100px;
  height: auto;
}

nav {
  padding: 0 1rem;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

nav ul li a:hover {
  background: linear-gradient(60deg, #ff4655, #f8061b);
  animation: flicker 3s linear infinite;
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

@keyframes flicker {
  0%,
  12% {
    color: #0e0f10;
    box-shadow: 0 0 10px #03e9f4, 0 0 20px #03e9f4, 0 0 80px #03e9f4;
  }
  12%,
  19% {
    color: #ffffff;
    box-shadow: none;
  }
  19%,
  26% {
    color: #0e0f10;
    box-shadow: 0 0 10px #03e9f4, 0 0 20px #03e9f4, 0 0 80px #03e9f4;
  }
  26%,
  29% {
    color: #ffffff;
    box-shadow: none;
  }
  29%,
  44% {
    color: #0e0f10;
    box-shadow: 0 0 10px #03e9f4, 0 0 20px #03e9f4, 0 0 80px #03e9f4;
  }
  44%,
  54% {
    color: #ffffff;
    box-shadow: none;
  }
  54%,
  100% {
    color: #0e0f10;
    box-shadow: 0 0 10px #03e9f4, 0 0 20px #03e9f4, 0 0 80px #03e9f4;
  }
}

.contItemCar {
  position: relative;
  z-index: 2;
}

.cent {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  margin-bottom: 120px;
}

.cent .t1 {
  font-family: "VALORANT";
  font-size: 40px;
  color: #f7f7f7;
  position: absolute;
  top: 50px;
  left: 50px;
}

.cent p {
  font-family: 'VANDAL';
  font-size: 24px;
  text-align: justify;
  color: #ffffff;
  position: absolute;
  top: 100px;
  left: 50px;
  width: 95%;
  line-height: 30px;
  z-index: 1;
}

.gallery-container {
  position: relative;
  top: 200px;
}

.gallery-container h1 {
  position: absolute;
  top: -530px;
  left: 50px;
  font-size: 40px;
  font-family: 'VALORANT';
  color: #fff;
  margin-bottom: 30px;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  top: 47rem;
  font-family: 'VANDAL';
  font-size: 20px;
  color: #fff;
  z-index: 1;
}

.gallery-item, .map-info {
  width: 30%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.desc-info {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-info h2 {
  font-size: 20px;
  color: #fff;
  text-align: center;
}


.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.prev, .next {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: 12rem;
  transform: translateY(-50%);
}

.prev {
  left: 600px;
}

.next {
  right: 600px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  animation-name: fade;
  animation-duration:0.2s;
}

@keyframes fade {
  from {opacity: .6}
  to {opacity:1}
}

.cards {
  position: relative;
  bottom: 50%;
}

.slide {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.gallery-item, .map-info, .desc-info {
  position: absolute;
  height: 200px;
  width: 330px;
  opacity: 0;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}

.gallery-item-1, .gallery-item-2, .gallery-item-3, .gallery-item-4, .gallery-item-5, .gallery-item-6, .gallery-item-7, .gallery-item-8, .gallery-item-9 {
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, .35);
  width: 600px;
  height: 400px;
  opacity: 1;
  bottom: 67%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.gallery-item-1:hover, .gallery-item-2:hover, .gallery-item-3:hover, .gallery-item-4:hover, .gallery-item-5:hover, .gallery-item-6:hover, .gallery-item-7:hover, .gallery-item-8:hover, .gallery-item-9:hover{
  opacity: 0;
  transition: .3s ease-in-out;
}

.map-info-1, .map-info-2, .map-info-3, .map-info-4, .map-info-5, .map-info-6, .map-info-7, .map-info-8, .map-info-9 {
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, .35);
  width: 600px;
  height: 400px;
  opacity: 1;
  bottom: 67%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.desc-info-1, .desc-info-2,  .desc-info-3, .desc-info-4, .desc-info-5, .desc-info-6, .desc-info-7, .desc-info-8, .desc-info-9 {
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.center {
  position: absolute;
  left: 5%;
  top: 55%;
}

.dot {
  cursor: pointer;
  position: relative;
  height: 50px;
  width: 50px;
  margin: 0 2px;
  margin-bottom: 10px;
  bottom: 0%;
  background-color: #bbbbbb00;
  border-radius: 50%;
  display: block;
  transition: background-color 0.6s ease;
  font-family: 'VALORANT';
  font-size: 30px;
  color: #fff;
}

.dot:hover {
  animation-name: fade;
  animation-duration: .8s;
  text-decoration: underline;
}

.navegacion {
  position: relative;
  top: 70rem;
  text-align: center;
}

.navegacion h2 {
  font-family: 'VALORANT';
  font-size: 40px;
  margin-right: 87rem;
}

.navegacion ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 2%;
}

.navegacion ul li {
  margin: 0 10px;
}

.navegacion .titleMod {
  font-family: 'VALORANT';
  font-size: 30px;
}

.navegacion p {
  font-family: 'VANDAL';
  color: #fff;
  font-size: 20px;
  margin-top: 4%;
}

footer {
  position: relative;
  width: 100%;
  top: 80rem;
  left: 0%;
  padding: 2rem 15%;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'VALORANT';
}

.logopag {
  width: 300px;
  padding: 0;
}

.social-icons-container, .footer-menu-container {
  display: flex;
  position: relative;
  bottom: 1px;
  left: 100px;
  margin-right: 1px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.social-icon {
  position: relative;
  bottom: 5px;
  left: 100px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  /* border: 1px solid #000000; */
  font-size: 2rem;
  color: #dd4854;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  z-index: 3;
}

.social-icon:hover {
  color: #f2f2f2;
}

.footer-menu-container {
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
}

.footer-menu-container a {
  text-decoration: none;
  color: #f7f7f7;
}

.footer-menu-container a::after{
  text-decoration: none;
  color: #f7f7f7;
}

.menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.menu-item:hover {
  opacity: 1;
}

.copyright {
  position: relative;
  top: 50px;
  right: 600px;
  color: #ffffff;
  opacity: 0.3;
  text-align: center;
}