@font-face {
    font-family: 'VALORANT';
    src: url('fonts/Valorant font.tff') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
  font-family: 'VALORANT';
  color: aliceblue;
  background-image: url(../img/Fondo/VALORANT_Logo_V_thumbnail.jpg);
  background-size: cover;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 1px;
  }

@media screen and(min-width: 52px) {
  .center {
    max-width: 52px;
  }
}

.menu1 {
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.menu2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.menu2 li {
    float: left;
    border-right: 1px solid #9c9b9b;
  }
  
.menu2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.menu2 li a:hover {
    background-color: #111;
  }

.menu2 li:last-child {
    border-right: none;
  }
